<!-- user/order-status.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Status</title>
    <style>
        .order-status-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 2px solid #000000;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
        .order-status-result {
            margin-top: 20px;
        }
        .btn {
            display: inline-block;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            background-color: #e6f114;
            color: rgb(4, 4, 4);
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
      <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Orders <span>Details</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
    <div class="order-status-container">
        {{!-- <h2>Order Status</h2> --}}
        {{#if order}}
            <div class="order-status-result text-center">
                <h3>Order ID: {{ order.orderId}}</h3>
                <p><strong>Date:</strong> {{ formatDate order.createdAt }}</p>
                  {{#each order.products}}
                <p><strong>product name:</strong> {{ this.productId.name }} </p>
                {{/each}}
                <p><strong>Total Amount:</strong> {{ order.summary.totalAmountToBePaid }} ₹</p>
                <p><strong>Status:</strong> {{ order.status }}</p>
                 <h3><i class="fas fa-calendar-check" title="Delivery Date"></i> Expected Delivery Date:</h3>
      <p style="color: green;">
        {{#if expectedDeliveryStartDate}} 
          {{formatDate expectedDeliveryStartDate}} 
          {{#if expectedDeliveryEndDate}} 
            - {{formatDate expectedDeliveryEndDate}} 
          {{/if}} 
        {{/if}}
      </p>
                <a href="/order-history" class="btn"><i class="fas fa-arrow-left" title="Back"></i> Back To Order History</a>
            </div>
        {{else if error}}
            <p>{{ error }}</p>
        {{/if}}
    </div>
</body>
</html>
